* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
/* page 1 */

#pg1 {
    height: 100vh;
} 

header {
    background-color: #201E20;
}

header h1 {
    font-size: 3rem;
}

span {
    color: #E0A96D
}
/* page 2 */

#pg2 {
    height: 100%;
    background-color: #DDC3A5;
    border-top: 10px solid #E0A96D
}

.title {
    font-size: 3rem;
}

.story {
    margin: auto 300px;
    text-align: center;
    line-height: 2.5;
    padding-bottom: 7rem;
    font-size: 1.25rem;
}

/* page 3 */

#pg3 {
    height: 100%;
    background-color: #DDC3A5;
    border-top: 10px solid #201E20;
}

.image {
    width: 400px;
    height: auto;
    margin: 0px 18px;

}

.pro-des{
    font-size: 1.25rem;
}

.project-box {
    padding: 3rem 0px;
}

.project {
    margin: 20px;
}

.project p {
    margin: 10px;
}

/* page 4 */

#pg4 {
    height: 100%;
    background-color: #DDC3A5;
    border-top: 10px solid #201E20
}

.button {
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
}

.dwld-btn {
    text-decoration: none;
    color: black;
}
.copy {
    background-color: #201E20;
    color: #ffffff;
    width: 100%;
}

@media only screen and (max-width: 700px){
    header h1 {
        font-size: 1.9rem;
    }

    .story {
        margin: auto 40px;
        font-size: 16px;
    }

    .title{
        font-size: 1.9rem;
    }

    .image{ 
        width: 280px;
    }

    .pro-des{
        font-size: 16px;
    }
}