/* ------------------------------------ BODY CSS ---------------------------- */

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
   /* margin: 0;  */
   font-family: 'Raleway', sans-serif;
   
}

/* ------------------------------------ PAGE 1 ---------------------------- */

#pg1 {
    background-color: #01122B;
    height: 100vh;
}
span{
    color: rgb(199, 24, 103);
}
.button {
    color: white;
}
.button:hover {
    border-color: #96ccff;
}
.arw {
    width: auto;
    height: 11rem;
}

.btn {
    height: 15vh;
}

a {
    text-decoration: none;
}
/* ------------------------------------ PAGE 2 ---------------------------- */


/* .nav {
    height: 3rem;
    width: 100%;
    margin-bottom: 4rem;
} */

.title{
    margin-bottom: 2rem;
    margin-top: 4rem;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

.ul{
    width: 100%;
    height: 4rem;
    padding: 0;
    margin-top: 0;
    position: sticky;
}

.li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: black;
}

.circle{ 
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: rgb(173, 236, 122);
}













#pg3{
    height: 100vh;
}
#pg4{
   height: 120vh; 
}
#pg5{
    height: 100vh;
}
.blue-box {
    height: 100%;
}

.img-grid{
    margin-top: 30px;
    height: 100%;
    position: relative;
}

.box1 {
    width: 50vw;
    height: auto;
    transition: all 0.2s;
    position: absolute;
    top: 0px;

}
.box2 {
    width: 50vw;
    height: auto;
    transition: all 0.2s;
    position: absolute;
    top: 80px;
}
.box3 {
    width: 50vw;
    height: auto;
    transition: all 0.2s;
    position: absolute;
    top: 160px;
}
.box4 {
    width: 50vw;
    height: auto;
    transition: all 0.2s;
    position: absolute;
    top: 240px;
}



.size:hover {
    transform: scale(1.05);
    border: 5px solid greenyellow;
}


.box1:hover, .box2:hover, .box3:hover, .box4:hover{
    transition: all 0.5s;
    z-index: 1;
    border: 5px solid rgb(233, 126, 26);
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */
    
}
.im1:hover, .im2:hover, .im3:hover, .im4:hover {
    opacity: 0.4;
}




/* .image {
    height: auto;
    width: 60%;
    opacity: 0.15;
    position: absolute;
    z-index: 1;
} */



@media only screen and (max-width: 460px){
    .content{
        font-size: 17px !important;
    }
    .arw {
        height: 7rem;
    }
    .box1{
        width: 90vw;
    }
    .box2{
        width: 90vw;
    }
    .box3{
        width: 90vw;
    }
    .box4{
        width: 90vw;
    }
}









 