body {
	text-align: center;
	color: rgba(0, 0, 0, .5);
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;

}
h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .5em;
	width: 100%;
	font-weight: 600;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.div1 {
	display: inline-block;
	border: 1px solid black;
	background-color: #0f0f0f;
	color: whitesmoke;
	padding: 20px;
}

.div2 {
	display: inline-block;
	border: 1px solid black;
	background-color: #8aa8f4;
	color: whitesmoke;
	padding: 20px;
}

.btn {
	margin: 10px;
}